# Ignore TypeScript source files
lib/
# Ignore test files
test/
*.spec.ts

# Ignore local development environments
.env
.env.example
docs/
*.sh
node_modules/
npm-debug.log
pnpm-lock.yaml
# Ignore version control folders and files
.git/
.gitignore
.github/
# Ignore logs
logs/
*.log
tsconfig.json
examples
Dockerfile
docker-compose.yml
.dockerignore
Makefile