# Ignore TypeScript source files
lib/
# Ignore test files
test/
*.spec.ts

# Ignore local development environments
.env
.env.example
README.md
*.md
docs/
*.sh
node_modules/
npm-debug.log
pnpm-lock.yaml
# Ignore version control folders and files
.git/
.gitattributes
.gitignore
.github
# Ignore logs
logs/
*.log